@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Poppins:wght@500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  background: #8758ff;
  font-family: sans-serif;
  color: #fff;
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  text-align: center;
}

h1 {
  text-align: center;
  background-color: #51339e;
  font-family: 'Poppins';
  font-size: 8rem;
  text-transform: uppercase;
  width: 100vw;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}

.TodoWrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.todo-form {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
  color: #fff;
  width: 2rem;
  height: 2rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.delete-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.delete-btn:disabled {
  cursor: not-allowed;
}

input[type='checkbox'] {
  border: none;
  width: 2rem;
  height: 2rem;
}
